body {
  font-family: 'helvetica neue';
}

#main-nav {
  background: #519BF0;
}

.nav-icon {
  width: 5rem;
  border-radius: 50%;
  background: white;
  padding: .5em;
}

#main-nav nav a {
  font-size: 1.25rem;
  color: white;
}

#landing-page {
  background: url("./images/BG.png") no-repeat center center;
  background-size: cover;
  height: 120vh;
}

#landing-page .landing-text {
  margin-top: 40vh;
  margin-left: auto;
  margin-right: auto;
}

.nav-icon img {
  max-width: 100%;
}

.nav-right-icons i {
  font-size: 1.5rem;
  color: white;
}

@media only screen  and (min-width : 1824px) {
  #landing-page {
    height: 110vh;
  }

  #landing-page .landing-text {
    margin-top: 40vh;
  }

  #landing-page .landing-text h1{
    font-size: 3.5rem;
  }
}

/*-----------------------------------------------------------------------------------------*/

#portfolio {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

#portfolio .portfolio-col {
  margin: 0 auto;
  min-height: 100vh;
  /*border: 2px solid black;*/
  padding: 3rem;
  -moz-box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 13px 6px rgba(0,0,0,0.75);
}

#portfolio .portfolio-col h2{
  font-size: 3rem;
}


.portfolio-row {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#portfolio img {
  max-width: 100%;
}

.portfolio-piece {
  /*border: 1px solid #bac9d1;*/
  width: 30%;
  padding: 1vw;
  border-bottom: .5em solid yellow;
  -webkit-box-shadow: 0px 23px 0px -15px rgba(255,255,0,0.9), 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -moz-box-shadow: 0px 23px 0px -15px rgba(255,255,0,0.9),  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0px 23px 0px -15px rgba(255,255,0,0.9),  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
  position: relative;
}

.portfolio-piece-mouseover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 2em;
  padding-left: 1em;
  background: rgba(125,223,121,.9);
  display: none;
  flex-direction: flex-row;
  flex-wrap: wrap;
  align-content: flex-start;  
}

.portfolio-piece-mouseover button{
  margin: .5em;
}

.portfolio-piece-mouseover .read-more-button{
  width: 90%;
  margin: auto;
  position: absolute;
  bottom: 3em;
}

.portfolio-piece-text{
  margin-top: 2em;
  margin-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

/*-----------------------------------------------------------------------------------------*/

#about .intro-section {
  margin-bottom: 5rem;
}

#about .intro-section h2 {
  font-size: 3rem;
}

#about img {
  width: 100%;
}

#about .text-section p {
  text-align: justify;
  font-size: 1.2rem;
}

